* {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

body {
    background-color: #585977;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; /* Remove default body margin */
    overflow-x: hidden; /* Hide horizontal scrollbar if it occurs */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


footer {
    align-items: center;
    background-color: #38405B;
    padding: 10px 20px; /* Add padding for internal spacing */
    width: 100%; /* Ensure the footer is full width */
    text-align: center;
    margin-top: auto;
}

main{
    padding-bottom: 50px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

a:hover {
    color: grey;
}

.navbar {
    background-color: #38405B;
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Align items vertically */
    width: 100%; /* Make the navbar full width */
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.logo{
    padding: 10px 10px;
    padding-left: 200px;
}

.navitems {
    display: flex; /* Use flexbox to arrange items in a row */
    gap: 20px; /* Add space between nav items */    
    padding-right: 200px;
}

.home-footer{
    display: inline-block; /* Use flexbox layout */
    justify-content: space-between; /* Space items evenly */
    padding: 15px 20px; /* Add padding for internal spacing */
}

.copyright{
    font-weight: lighter;
    font-size: smaller;
    opacity: 75%;
}

section{
    padding-left: 200px;
    padding-right: 200px;
}

.title-body{
    text-align: center;
    font-size: 50px;
}